<%- include('./partials/header') %>
<%- include('./partials/navbar') %>


<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-6  ">
          <!-- Default form register -->
            <form class="text-center border border-light p-5" action="/recoverPassword" method="POST">

                <p class="h4 mb-4">Nueva contraseña</p>
                <input type="text" id="password" name="password" class="form-control mb-4 col-12" placeholder="Nueva contraseña">
                <button class="btn btn-primary my-4 btn-block" type="submit">Acceder</button>

            </form>

        </div>
    </div>
</div>







<%- include('./partials/footer') %>
