<%- include('./partials/header') %>
<%- include('./partials/navbar') %>


<div class="container"> 
    <div class="row">
        <div class="col-12">
            Secret Page
        </div>
    </div>
</div>







<%- include('./partials/footer') %>
